*{
    color: white;
 background-image: url(https://s1.ticketm.net/dam/a/135/c5d126e4-4871-4bc2-acd3-c98acf78d135_1277401_TABLET_LANDSCAPE_LARGE_16_9.jpg);
 
}
body{
    font-family: 'Lobster', cursive;
    color: white;
}
nav{
    color: white;
}