*{
    color: white;
 background-image: url(https://s1.ticketm.net/dam/a/135/c5d126e4-4871-4bc2-acd3-c98acf78d135_1277401_TABLET_LANDSCAPE_LARGE_16_9.jpg);
}
body{
    font-family: 'Lobster', cursive;
    color: white;
}
nav{
    color: white;
}

.navbar-light .navbar-brand {
    color: white; 
}

a.navbar {
color: white; 
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 253 253 / 90%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
