body{
    background-color: black;
    font-family: 'Lobster', cursive;
    color: white;
}
td{
    text-align: center;
}
.table-div{
    justify-self: center;
    width: 75%;
    margin-left: auto;
    margin-right: 10%;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    
}
.h3{
    text-align: center;
}